// .header {
.header-top-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #20558a;
  position: absolute;
  z-index: 1;
  .header-contacts-info-social-icons-wrapper {
    margin: 0.5em 0;
    font-size: 12px;
    display: flex;
    align-items: center;
    width: 90%;
    .contacts-info-wrapper {
      color: #fff;
      display: flex;
      gap: 2em;
      margin-right: auto;
    }
    .social-icons-wrapper {
      color: #fff;
      display: flex;
      gap: 2em;
      .social-icon {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .header-top-nav {
    height: auto;
    .header-contacts-info-social-icons-wrapper {
      flex-direction: column;
      gap: 0.8em;
      justify-content: center;
      .contacts-info-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .header-top-nav {
    height: auto;
    .header-contacts-info-social-icons-wrapper {
      margin: 0 0;
      padding: 1em 0;
      width: 80%;
      flex-direction: row;
      .contacts-info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: left;
      }
      .social-icons-wrapper {
        display: flex;
        gap: 2em;
      }
    }
  }
}
.header-nav-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 1.7em;
  align-self: center;
  width: 84.3%;
  left: calc(50% - 42.15%);
  background-color: #f79621;
}
@media screen and (max-width: 650px) {
  .header-nav-wrapper {
    width: 100%;
    left: 0;
  }
}
.header-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 6rem;
  background-color: #fff;
  .main-logo {
    margin-left: 30px;
    font-size: 1.5em;
    font-weight: bold;
    color: #20558a;
    text-decoration: none;
    .main-logo-img {
      width: 7em;
    }
  }
  .navigation-menu {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 37.5em;
    position: absolute;
    top: 85%;
    left: calc(50% - 18.75em);
    display: flex;
    list-style: none;
    li {
      .nav-link {
        font-size: 20px;
        border-radius: 10px;
        padding: 10px 20px;
        background-color: #ffe9e2;
        color: #000;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s;
      }
      .nav-link:hover {
        padding: 14px 24px;
      }
      .gallery {
        background-color: #f79621;
      }
    }
  }
  .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 150px;
    .icons {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
    .hamburger-icon {
      display: none;
    }
  }
  @media screen and (max-width: 500px) {
    .nav-icons {
      margin-right: 30px;
      justify-content: flex-end;
    }
    .hamburger-icon {
      margin-right: 20px;
    }
  }
  @media screen and (max-width: 1440px) {
    .navigation-menu {
      top: 125%;
      height: 9em;
    }
  }
  @media screen and (max-width: 750px) {
    .navigation-menu {
      top: 210%;
      flex-direction: column;
      align-items: center;
      li {
        .gallery {
          padding: 10px 60px;
        }
        .gallery:hover {
          padding: 14px 64px;
        }
        .inbound {
          padding: 10px 30px;
        }
        .inbound:hover {
          padding: 14px 34px;
        }

        .outbound {
          padding: 10px 22px;
        }
      }
    }
  }
}
@media screen and (min-width: 1000px) {
  .hamburger-bar {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .navigation-menu {
    .nav-link {
      // display: none;
    }
  }
}
